@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: var(--tracking-normal);
}

@layer base {
  :root {
    --background: 0 0% 98.82%;
    --foreground: 0 0% 9.02%;
    --card: 0 0% 98.82%;
    --card-foreground: 0 0% 9.02%;
    --popover: 0 0% 98.82%;
    --popover-foreground: 0 0% 32.16%;
    --primary: 151.33 66.86% 66.86%;
    --primary-foreground: 153.33 13.04% 13.53%;
    --brand-link: 153.4deg 100% 36.7%;
    --brand-button: 151.8deg 47.1% 40.8%;
    --brand-default: 152.9deg 60% 52.9%;
    --brand-600: 156.5deg 86.5% 26.1%;
    --brand-500: 155.3deg 78.4% 40%;
    --brand-400: 151.3deg 66.9% 66.9%;
    --brand-300: 147.5deg 72% 80.4%;
    --brand-200: 147.6deg 72.5% 90%;
    --secondary: 0 0% 99.22%;
    --secondary-foreground: 0 0% 9.02%;
    --muted: 0 0% 92.94%;
    --muted-foreground: 0 0% 12.55%;
    --accent: 0 0% 92.94%;
    --accent-foreground: 0 0% 12.55%;
    --destructive: 9.89 81.98% 43.53%;
    --destructive-foreground: 0 100% 99.41%;
    --border: 0 0% 87.45%;
    --input: 0 0% 96.47%;
    --ring: 151.33 66.86% 66.86%;
    --chart-1: 151.33 66.86% 66.86%;
    --chart-2: 217.22 91.22% 59.80%;
    --chart-3: 258.31 89.53% 66.27%;
    --chart-4: 37.69 92.13% 50.20%;
    --chart-5: 160.12 84.08% 39.41%;
    --sidebar: 0 0% 98.82%;
    --sidebar-foreground: 0 0% 43.92%;
    --sidebar-primary: 151.33 66.86% 66.86%;
    --sidebar-primary-foreground: 153.33 13.04% 13.53%;
    --sidebar-accent: 0 0% 92.94%;
    --sidebar-accent-foreground: 0 0% 12.55%;
    --sidebar-border: 0 0% 87.45%;
    --sidebar-ring: 151.33 66.86% 66.86%;
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
    --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
    --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
    --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
    --tracking-normal: 0.025em;
  }
  
  .dark {
    --background: 0 0% 7.06%;
    --foreground: 214.29 31.82% 91.37%;
    --card: 0 0% 9.02%;
    --card-foreground: 214.29 31.82% 91.37%;
    --popover: 0 0% 14.12%;
    --popover-foreground: 0 0% 66.27%;
    --primary: 154.90 100.00% 19.22%;
    --primary-foreground: 152.73 19.30% 88.82%;
    --brand-link: 155deg 100% 38.6%;
    --brand-button: 154.9deg 100% 19.2%;
    --brand-default: 153.1deg 60.2% 52.7%;
    --brand-600: 154.9deg 59.5% 70%;
    --brand-500: 154.9deg 100% 19.2%;
    --brand-400: 155.5deg 100% 9.6%;
    --brand-300: 155.1deg 100% 8%;
    --brand-200: 162deg 100% 2%;
    --secondary: 0 0% 14.12%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 0 0% 12.16%;
    --muted-foreground: 0 0% 63.53%;
    --accent: 0 0% 19.22%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 6.67 60.00% 20.59%;
    --destructive-foreground: 12.00 12.20% 91.96%;
    --border: 0 0% 16.08%;
    --input: 0 0% 14.12%;
    --ring: 141.89 69.16% 58.04%;
    --chart-1: 141.89 69.16% 58.04%;
    --chart-2: 213.12 93.90% 67.84%;
    --chart-3: 255.14 91.74% 76.27%;
    --chart-4: 43.26 96.41% 56.27%;
    --chart-5: 172.46 66.01% 50.39%;
    --sidebar: 0 0% 7.06%;
    --sidebar-foreground: 0 0% 53.73%;
    --sidebar-primary: 154.90 100.00% 19.22%;
    --sidebar-primary-foreground: 152.73 19.30% 88.82%;
    --sidebar-accent: 0 0% 19.22%;
    --sidebar-accent-foreground: 0 0% 98.04%;
    --sidebar-border: 0 0% 16.08%;
    --sidebar-ring: 141.89 69.16% 58.04%;
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
    --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
    --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
    --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply max-w-6xl mx-auto px-6 md:px-10 lg:px-14 w-full;
  }

  .pulled {
    @apply -mx-2 md:-mx-6 lg:-mx-10 xl:-mx-20;
  }

  .row {
    @apply flex flex-row;
  }

  .col {
    @apply flex flex-col;
  }

  .center-center {
    @apply flex items-center justify-center text-center;
  }
}


.animated-iframe-gradient {
  position: relative;
  overflow: hidden;
  background: transparent;
}

.animated-iframe-gradient:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 1600px;
  background: linear-gradient(250deg, hsl(var(--foreground)/0.9), transparent);
  
  animation: GradientRotate 8s linear infinite;
}
@keyframes GradientRotate {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.line-before {
  position: relative;
  padding: 16px;
}
.line-before:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(4px*-32);
  bottom: calc(4px*-32);
  left: 0;
  width: 1px;
  background: hsl(var(--foreground)/0.1);
}
.line-after {
  position: relative;
  padding: 16px;
}
.line-after:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(4px*-32);
  bottom: calc(4px*-32);
  right: 0;
  width: 1px;
  background: hsl(var(--foreground)/0.1);
}

.animate-fade-up {
  animation: animateFadeUp 0.5s ease-in-out;
  animation-fill-mode: both; 
}

@keyframes animateFadeUp {
  0% { transform: translateY(0.5rem); scale: 0.95; }
  100% { transform: translateY(0); scale: 1; }
}

.animate-fade-down {
  animation: animateFadeDown 0.5s ease-in-out;
  animation-fill-mode: both;
}

@keyframes animateFadeDown {
  0% { transform: translateY(-1rem); }
  100% { transform: translateY(0); }
}